<nav id="sidebar">
    <!-- Sidebar Header-->
    <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
    <ul class="list-unstyled">
        <li class="">
            <a href="/Admin/Home/Index"> <i class="icon-home"></i>TRANG CHỦ </a>
        </li>
        <li>
            <a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-grid"></i>QUẢN LÝ  </a>
            <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                <li><a href="/Admin/VienChuc/list_vienchuc/">VIÊN CHỨC</a></li>
                <li><a href="/Admin/HoatDong/list_hoatdong/">HOẠT ĐỘNG</a></li>
                <li><a href="/Admin/CTHD/list_cthd/">CHI TIẾT HOẠT ĐỘNG</a></li>
                <li><a href="/Admin/KTKL/list_ktkl/">KHEN THƯỞNG/ KỶ LUẬT</a></li>

            </ul>
        </li>

        <li>
            <a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-grid"></i>XEM THÊM </a>
            <ul id="exampledropdownDropdown" class="collapse list-unstyled ">

                <li><a href="/Admin/BoMon/list_bomon/">BỘ MÔN</a></li>
                <li><a href="/Admin/Khoa/list_khoa/">KHOA</a></li>
            </ul>
        </li>
        <li>
            <a href="charts.html"> <i class="fa fa-bar-chart"></i>THỐNG KÊ</a>
        </li>
        <li>
            <a href="forms.html"> <i class="icon-padnote"></i>FORMS </a>
        </li>
       
    </ul><span class="heading">Extras</span>
    <ul class="list-unstyled">
        <li>
            <a href="/Admin/GuiMail/guimail"> <i class="icon-email"></i>EMAIL</a>
        </li>
        <li>
            <a href="#"> <i class="icon-settings"></i>CÀI ĐẶT CHUNG</a>
        </li>
        <li>
            <a href="#"> <i class="icon-writing-whiteboard"></i>USERS PAGE </a>
        </li>
        <li>
            <a href="#"> <i class="icon-chart"></i>Demo </a>
        </li>
    </ul>
</nav>